body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8ebe5;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

.game-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.gameboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.gameboard .grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 1px;
}

.gameboard .cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gameboard .ship {
  background-color: #87ceeb;
}

.gameboard .hit {
  background-color: #ffa500;
}

.gameboard .sunk {
  background-color: #ff6347;
}

.gameboard .miss {
  background-color: #d3d3d3;
}

#randomPlaceButton {
  padding: 10px 20px;
  font-size: 16px;
  margin: 3%;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
}

#randomPlaceButton:hover {
  background-color: #0056b3;
}
